<div *ngIf="showResults && minimumPaymentMode">

    <div class="col-12 col-xl-6 col-md-12  col-lg-6 col-xl-12">
        <app-info-section [help]="help.timeToPayOfDebt"
                          stat="{{scheduleCompare.schedule1.periodsText}}">
        </app-info-section>
    </div>

    <div class="col-12 col-xl-6 col-md-12  col-lg-6 col-xl-12">
        <app-info-section [help]="help.creditCardDevil">
            High interest credit cards are designed to trap you into a cycle of debt
            and impulsive spending.
            We highly suggest you pay off your credit cards as soon and you can and stop
            using them.
        </app-info-section>
    </div>


    <div class="col-12 col-xl-6 col-md-12  col-lg-6 col-xl-12">
        <app-info-section [help]="help.minimumPaymentTrap">
            Paying only the minimum payment is a dangerous strategy that will cost you greatly in interest. We highly
            suggest you pay more than the minimum payment each month.
        </app-info-section>
    </div>

</div>

<div *ngIf="showResults && !minimumPaymentMode">

    <div class="col-12 col-xl-6 col-md-12  col-lg-6 col-xl-12">
        <app-info-section [help]="help.timeToPayOfDebt"
                          stat="{{scheduleCompare.schedule2.periodsText}}">
        </app-info-section>
    </div>

    <div class="col-12 col-xl-6 col-md-12  col-lg-6 col-xl-12">
        <app-info-section [help]="help.timeSavedByPayingExtra"
                          stat="{{scheduleCompare.periodsSavedText}}">

        </app-info-section>
    </div>

    <div class="col-12 col-xl-6 col-md-12  col-lg-6 col-xl-12">
        <app-info-section [help]="help.creditCardDevil">
            High interest credit cards are designed to trap you into a cycle of debt
            and impulsive spending.
            We highly suggest you pay off your credit cards as soon and you can and stop
            using them.
        </app-info-section>
    </div>

</div>