<div class="row"
     data-test-id="time-card-min-pay-section"
     *ngIf="showResults && minimumPaymentMode">

    <div class="col-12 col-xl-6 col-md-12  col-lg-6 col-xl-12">
        <app-info-section data-test-id="time-to-pay-debt-section"
                          [help]="help.timeToPayOfDebt"
                          stat="{{scheduleCompare.schedule1.periodsText}}">
        </app-info-section>
    </div>

    <div class="col-12 col-xl-6 col-md-12  col-lg-6 col-xl-12">
        <app-credit-card-devil-section></app-credit-card-devil-section>
    </div>

    <div class="col-12 col-xl-6 col-md-12 col-lg-6 col-xl-12">
        <app-minimum-payment-trap-section></app-minimum-payment-trap-section>
    </div>

</div>

<div class="row"
     *ngIf="showResults && !minimumPaymentMode">

    <div class="col-12 col-xl-6 col-md-12  col-lg-6 col-xl-12">
        <app-info-section [help]="help.timeToPayOfDebt"
                          stat="{{scheduleCompare.schedule2.periodsText}}">
        </app-info-section>
    </div>

    <div class="col-12 col-xl-6 col-md-12  col-lg-6 col-xl-12">
        <app-info-section [help]="help.timeSavedByPayingExtra"
                          stat="{{scheduleCompare.periodsSavedText}}">

        </app-info-section>
    </div>

    <div class="col-12 col-xl-6 col-md-12  col-lg-6 col-xl-12">
        <app-credit-card-devil-section></app-credit-card-devil-section>
    </div>
</div>