<div class="container-fluid">

    <div class="row  justify-content-sm-center justify-content-lg-start mt-5">

        <div class="col-12 col-md-7 col-lg-5 col-xl-4 col-xxl-3">
            <app-credit-card-form (calculateEvent)="calculateEvent($event)" ></app-credit-card-form>            
        </div>

        <div *ngIf="isSubmitted"
             class="col-12 col-lg-7 col-xl-8 col-xxl-9">

            <mat-tab-group [selectedIndex]="tabIndex"
                           dynamicHeight>
                <mat-tab label="Summary">

                    <div class="row">

                        <div class="col-12">

                            <div class="row">

                                <div data-test-id="summary-min-pay"
                                     class="col-12 col-md-6 col-xxl-4 mb-sm-4">

                                    <app-cc-wizard-summary [schedule]="schedule1"></app-cc-wizard-summary>
                                </div>

                                <div data-test-id="summary-fixed-pay"
                                     class="col-12 col-md-6 col-xxl-4">
                                    <app-cc-wizard-summary [schedule]="schedule2"></app-cc-wizard-summary>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">

                        <div class="col-12 col-xl-8">
                            <div class="d-flex justify-content-sm-center   justify-content-center mt-3">
                                <img height="275"
                                     width="275"
                                     src="../../../assets/images/credit-card-devil/Credit-Card-Devil-400.gif">
                            </div>
                        </div>
                    </div>

                </mat-tab>

                <mat-tab label="Details">
                    <div class="row">
                        <div class="col-12 col-md-6 col-xl-6 col-xxl-4">
                            <app-credit-card-schedule *ngIf="schedule1"
                                                      [schedule]="schedule1"></app-credit-card-schedule>
                        </div>

                        <div class="col-12 col-md-6 col-xl-6 col-xxl-4">
                            <app-credit-card-schedule *ngIf="schedule2"
                                                      [schedule]="schedule2"></app-credit-card-schedule>
                        </div>

                        <div class="col-xxl-4">
                            <app-interest-saved-section data-test-id="interest-saved-by-paying-fixed"
                                                        [scheduleCompare]="scheduleCompare"
                                                        [help]="help.interestSavedByPayingFixedPayment">
                            </app-interest-saved-section>
                        </div>
                    </div>

                </mat-tab>

                <mat-tab label="Minimum Payment Schedule">
                    <div class="row">
                        <div class="col-xxl-7">
                            <app-credit-card-schedule-list [scheduleList]="schedule1.scheduleList">
                            </app-credit-card-schedule-list>
                        </div>

                        <div class="col-xxl-4">
                            <app-credit-card-schedule *ngIf="schedule1"
                                                      [schedule]="schedule1"></app-credit-card-schedule>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab data-test-id="fixed-payment-schedule-tab"  label="Fixed Payment Schedule">

                    <div class="row">

                        <div data-test-id="fixed-pay-schedule-list" class="col-xxl-7">
                            <app-credit-card-schedule-list [scheduleList]="schedule2.scheduleList">
                            </app-credit-card-schedule-list>
                        </div>

                        <div class="col-xxl-4 ">

                            <app-info-section style="margin-top:7px"
                                              data-test-id="time-to-pay-debt-section"
                                              [help]="help.timeToPayOfDebt"
                                              stat="{{schedule2.periodsText}}">
                            </app-info-section>

                            <app-time-saved-section data-test-id="time-saved-fixed-payment"
                                                    [scheduleCompare]="scheduleCompare"
                                                    [help]="help.timeSavedFixedPayment">
                            </app-time-saved-section>

                            <app-interest-saved-section data-test-id="interest-saved-by-paying-fixed"
                                                        [scheduleCompare]="scheduleCompare"
                                                        [help]="help.interestSavedByPayingFixedPayment">
                            </app-interest-saved-section>
                        </div>
                    </div>

                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>