<div class="container">

    <div class="row">

        <div class="col-12 col-xl-12 ">
            <h1>We Are Currently Building Out This Feature. </h1>
        </div>
    </div>
</div>

<br><br>

<div id="the-vision">

    <div class="container">
        <br>
        <div class="row">
            <div class="offset-xl-0 col-11 col-md-6 col-xl-4 ">
                <h3>Use What You Got!</h3>
                <hr>
                <p class="p-wrapper">
                    <fa-icon class="fa-4x"
                             [icon]="icons.useWhatYouGot"></fa-icon>
                    <br>
                    {{useWhatYouGot}}
                </p>
            </div>

            <div class="offset-xl-0 col-11 col-md-6 col-xl-4 ">
                <h3>Warts & All!</h3>
                <hr>
                <p class="p-wrapper">
                    <fa-icon class="fa-4x"
                             [icon]="icons.wartsAndAllIcon"></fa-icon>
                    <br>
                    Stop caring what people think about you and release the idea early and often so you can learn from
                    the experience and the constructive criticism. You need to accept that your product or service will
                    never be perfect. Plan that there will be haters and malcontent;rejoice and be exceedingly glad.
                </p>
            </div>


            <!-- <div class="offset-xl-0 col-11 col-md-6 col-xl-4 ">
                <h3>20 Minute Rule</h3>
                <hr>
                <p class="p-wrapper">
                    <fa-icon class="fa-4x"
                             [icon]="icons.twentyMinuteRule"></fa-icon>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                </p>
            </div> -->

            <!-- <div class="col-11 col-md-6 col-xl-4 col-xxl-3">
                <h3>The 20 Minute Rule!</h3>
                <hr>
                <p class="p-wrapper">
                    <fa-icon class="fa-4x" [icon]="icons.experimentLearnIcon"></fa-icon>
                    <br>
                    Try something, measure your progress and learn.
                </p>
            </div>

            <div class="col-11 col-md-6 col-xl-4 col-xxl-3">
                <h3>The 20 Minute Rule!</h3>
                <hr>
                <p class="p-wrapper">
                    <fa-icon class="fa-4x" [icon]="icons.experimentLearnIcon"></fa-icon>
                    <br>
                    Try something, measure your progress and learn.
                </p>
            </div> -->
        </div>

        <!-- <div class="row">
            <div class="offset-xl-3 col-11 col-md-6 col-xl-4 col-xxl-3">

                <h3>No Time Wasting</h3>
                <hr>
                <p class="p-wrapper">
                    <fa-icon style="color:green" class="fa-4x" [icon]="icons.wartsAndAllIcon"></fa-icon>
                    <br>
                    Give it to the world and do not worry about negative feedback.
                </p>

            </div>

            <div class="col-11 col-md-6 col-xl-4 col-xxl-3">
                <h3>Warts & All</h3>
                <hr>
                <p class="p-wrapper">
                    <fa-icon style="color:purple" class="fa-4x" [icon]="icons.celebrate"></fa-icon>
                    <br>
                    Reward small successes and get to back to work.
                </p>
            </div>


            <div class="col-11 col-md-6 col-xl-4 col-xxl-3">
                <h3>Warts & All</h3>
                <hr>
                <p class="p-wrapper">
                    <fa-icon style="color:purple" class="fa-4x" [icon]="icons.celebrate"></fa-icon>
                    <br>
                    Reward small successes and get to back to work.
                </p>
            </div>
        </div>


        <div class="row">
            <div class="offset-xl-3 col-11 col-md-6 col-xl-4 col-xxl-3">

                <h3>What Did Your Learn?</h3>
                <hr>
                <p class="p-wrapper">
                    <fa-icon style="color:green" class="fa-4x" [icon]="icons.wartsAndAllIcon"></fa-icon>
                    <br>
                    Give it to the world and do not worry about negative feedback.
                </p>

            </div>

            <div class="col-11 col-md-6 col-xl-4 col-xxl-3">
                <h3>Use What You Got.</h3>
                <hr>
                <p class="p-wrapper">
                    <fa-icon style="color:purple" class="fa-4x" [icon]="icons.celebrate"></fa-icon>
                    <br>
                    Reward small successes and get to back to work.
                </p>
            </div>

        </div>


        <div class="row">
            <div class="offset-xl-3 col-11 col-md-6 col-xl-4 col-xxl-3">

                <h3>Celebrate Progress</h3>
                <hr>
                <p class="p-wrapper">
                    <fa-icon style="color:green" class="fa-4x" [icon]="icons.wartsAndAllIcon"></fa-icon>
                    <br>
                    Give it to the world and do not worry about negative feedback.
                </p>

            </div>

        </div> -->
    </div>
</div>