<br>
<br>
<div class="container">
    <div class="row">

        <div class="col-4">

            <form [formGroup]="formGroup" (submit)="submit()">
                <div class="mb-3">

                    <label for="revenuePerUnit" class="form-label">Revenue Per Unit</label>
                    <input id="revenuePerUnit" class="form-control" type="number" data-test-id="revenue-per-unit"
                        formControlName="revenuePerUnit">
                </div>

                <div class="mb-3">
                    <label for="variableExpense" class="form-label">Variable Expense</label>
                    <input id="variableExpense" class="form-control" type="number" data-test-id="variable-expense"
                        formControlName="variableExpense">
                </div>

                <div class="mb-3">
                    <label for="fixedExpense">Fixed Expense</label>
                    <input id="fixedExpense" class="form-control" type="number" data-test-id="fixed-expense"
                        formControlName="fixedExpense">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>


        </div>
    </div>
    <div *ngIf="unitsToBreakEven">
        <h1 data-test-id="unts-to-break-even"> Units: {{unitsToBreakEven}} </h1>
    </div>
</div>