<mat-card data-test-id="credit-card-card">
    <mat-card-title class="title-responsive" data-test-id="schedule-title">
        {{schedule.title}}
    </mat-card-title>
    <mat-card-content>
        <table data-test-id="credit-card-table"
               style="margin-bottom:7px"
               class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        Principal
                    </td>
                    <td data-test-id="principal">
                        {{schedule.balanceStart |number:'1.2-2' }}
                    </td>
                </tr>

                <tr class=" border-2">
                    <td>
                        Interest
                    </td>
                    <td data-test-id="interest">
                        {{schedule.interest |number:'1.2-2' }}
                    </td>
                </tr>

                <tr class="total ">
                    <td>
                        Total
                    </td>
                    <td data-test-id="total">
                        ${{schedule.paymentTotal |number:'1.2-2' }}
                    </td>
                </tr>
            </tbody>

        </table>
    </mat-card-content>
</mat-card>

<mat-card style="height:275px; margin-top: 20px;margin-bottom:10px;">
    <div class="chart-container">
        <highcharts-chart [Highcharts]="Highcharts"
                          [options]="chartOptions"></highcharts-chart>
    </div>
</mat-card>

<app-info-section style="margin-top:7px"
                  data-test-id="time-to-pay-debt-section"
                  [help]="help.timeToPayOfDebt"
                  stat="{{schedule.periodsText}}">
</app-info-section>