@import "../styles/variables";
.chart-container {
    // https://github.com/highcharts/highcharts/issues/6427
    height: 275px !important;

    highcharts-chart {
        .highcharts-container,
        .highcharts-container svg {
            width: 425px;
            height: 250px;           

            @include for-medium-and-below() {
                width: 475px;
            }
        }
    }
}

.chart-label-container{
    margin-left: 5px;
    .chart-label{
        font-size: 14px;
        margin-right:5px;    
        letter-spacing: 1px;
    }
    .chart-value{
      font-size: 17px;    
      font-weight:900;   
      color:black;
    }
}

//TODO remove this if we are not using. CHECK IT FIRST!
.chart-container-2 {
    // https://github.com/highcharts/highcharts/issues/6427
    height: 175px;
    border: 1px solid red;

    highcharts-chart {
        .highcharts-container,
        .highcharts-container svg {
             width: 300px;
            height: 150px;           

            @include for-medium-and-below() {
                width: 475px;
            }
        }
    }
}
