@import "../styles/variables";
.chart-container {
    // https://github.com/highcharts/highcharts/issues/6427
    // notice you altered it
    height: 250px !important;
    margin-bottom: 10px;
    margin-top: 10px;

    display: block;
    width: 100%;
    background-color: red !important;

    highcharts-chart {
        //display:block; // this has some effect, not sure what
        .highcharts-container svg {
            width: 430px;
            height: 225px;
            border: 1px solid red;
            //TODO play with these more to make them more precise for each size
            //it was good enough so you moved on, but we could make it for each break point
            @include for-xlarge {
                width: 350px;
            }

            @include for-large-and-below {
                display: block;

                border: 2px solid black;
                margin-left: auto;
                margin-right: auto;
                
            }

            @include for-xsmall {
                width: 350px;
                border: 1px solid blue;
            }
        }
    }
}

.chart-label-container {
    margin-left: 5px;
    .chart-label {
        font-size: 14px;
        margin-right: 5px;
        letter-spacing: 1px;
    }
    .chart-value {
        font-size: 17px;
        font-weight: 900;
        color: black;
    }
}

//TODO remove this if we are not using. CHECK IT FIRST!
.chart-container-2 {
    // https://github.com/highcharts/highcharts/issues/6427
    height: 175px;
    border: 1px solid red;

    highcharts-chart {
        .highcharts-container,
        .highcharts-container svg {
            width: 300px;
            height: 150px;

            @include for-medium-and-below() {
                width: 475px;
            }
        }
    }
}
