@import "../styles/variables";
.title-responsive {
    @include for-large-and-below() {        
        font-size:medium
    }

    @include for-xsmall{
        font-size: small;
        height: 48px; //this keeps the title the same height not matter the length
    }
}

//profit dreamer form
.pd-form{

    input[type=text],input[type=number],select{        
        // width: 200px;     
    }
}
