@import "../styles/variables";
.title-responsive {
    @include for-large-and-below() {        
        font-size:medium
    }

    @include for-xsmall{
        font-size: small;
        color:red;
    }
}
