.float-icon {
    float: left;
    margin-right: 10px;
}

.danger-icon {
    color: red;
}

.icon-color-1 {
    color: blue;
}

.good-icon-1 {
    color: green;
}

.good-icon-2 {
    color: #004d00;
}

.icon-color-2 {
    color: green;
}
