<div class="app-component">

    <nav class="navbar navbar-expand-lg navbar-light bg-light"
         aria-expanded="false">
        <div class="container">
            <a class="navbar-brand"
               href="#">Profit Dreamer</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"
                 id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item"
                        data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse.show">
                        <a class="nav-link"
                           routerLink="unit-profit">Unit Profit</a>
                    </li>

                    <li class="nav-item"
                        data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse.show">
                        <a class="nav-link"
                           routerLink="credit-card">Credit Card</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            About Us
                        </a>
                        <ul class="dropdown-menu"
                            aria-labelledby="navbarDropdown">
                            <!-- <li><a class="dropdown-item"
                                   href="https://blog.profitdreamer.com/"
                                   target="_blank">Visit Our Blog...</a></li> -->
                            <li><a class="dropdown-item"
                                   href="https://www.youtube.com/channel/UCJhUAuZ3s5PDtTP707LlGOg?view_as=subscriber"
                                   target="_blank">YouTube Channel...</a></li>
                            <!-- <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item"
                                   href="#">Something else here</a></li> -->
                        </ul>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link"
                           href="https://www.paypal.com/biz/fund?id=LR28PDF5MFEFG"
                           target="_blank">Donate $$$</a>
                    </li>
                </ul>
            </div>
        </div>
        <a class="navbar-brand d-none d-xl-block "
           href="#"><b>Press Toward The Mark</b></a>
    </nav>

    <div style="margin-top:10px;">
        <router-outlet></router-outlet>
    </div>
</div>