<mat-card class="section">
    <mat-card-content>
        <div class="stat-formula">

            <div data-test-id="title"
                 class="title">
                <fa-icon [icon]="help.icon"
                         class={{help.iconClass}}
                         matTooltipClass="tool-tip-help"                         
                         >
                </fa-icon>
                <!-- TO Do revisit this you removed the tooltips, they were to much -->
                <!-- matTooltip={{help.defintion}} -->
                {{help.name}}
            </div>
            <hr>

            <div data-test-id="stat"
                 class="stat"
                 matTooltipClass="tool-tip-help"
                 matTooltip={{help.defintion}}>
                <span class="sign"
                      *ngIf="sign">{{sign}}</span>{{stat |number:'1.2-2'}}
            </div>

            <div data-test-id="formula-expanded"
                 class="formula">
                <ng-content></ng-content>
            </div>

            <div data-test-id="formula"
                 class="formula">{{help.formula}}</div>

            <div>                
                <ng-content [select]="content-2" ></ng-content>
            </div>
        </div>

    </mat-card-content>
</mat-card>