<div class="container overflow-hidden">

    <mat-tab-group dynamicHeight>

        <mat-tab label="Center Chart">

            <div class="row pt-5 overflow-hidden">

                <div class="col-xxl-4">
                    <mat-card>
                        <mat-card-title>
                            Learning How To Center Chart
                        </mat-card-title>

                        <mat-card-content>
                            <p>This is me trying to spend 20 minutes to learn how to size and center a chart with
                                highchart-angular</p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="col-xxl-4">
                    <mat-card>
                        <mat-card-title>
                            How To Size Center Chart
                        </mat-card-title>

                        <mat-card-content>

                            
                            <highcharts-chart [Highcharts]="Highcharts"
                                              [options]="chartOptions"></highcharts-chart>                            
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="col-xxl-4">
                    <mat-card>
                        <mat-card-title>
                            Just A 3rd Column Spacer
                        </mat-card-title>

                        <mat-card-content>
                            <p>This is me trying to spend 20 minutes to learn how to size and center a chart with
                                highchart-angular</p>
                        </mat-card-content>
                    </mat-card>

                </div>

            </div>


        </mat-tab>

        <mat-tab label="Send Google Events">
            <button (click)="sendGaEvent()">Send GA Event</button>
        </mat-tab>
    </mat-tab-group>

</div>