<div class="container-float overflow-hidden ">

    <div class="row mt-4">

        <div class="col-xxl-3 ps-4">
            <mat-card appearance="outlined">
                <mat-card-content>
                    <h1>Form Content</h1>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-xxl-9">

            <div class="row">

                <div class="col-xxl-4">
                    <div class=""
                         style="background-color:white">
                        <h1>Section 1</h1>
                    </div>
                </div>

                <div class="col-xxl-4">

                    <app-info-section [help]="help.creditCardCalculatorInstruction1">
                        <h1>Section 2</h1>
                    </app-info-section>

                </div>

                <div class="col-xxl-4 ">

                    <div class="row">

                        <div class="col-12 col-xl-6 col-xxl-12 pe-4">

                            <app-info-section [help]="help.creditCardCalculatorInstruction1">
                                <h1>Section 3</h1>
                            </app-info-section>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>