@import "../../../styles/variables";

::ng-deep {
    #cc-form {
        #balance,
        #extraPayment, #fixedPayment {
            width: 125px;
        }

        #interestRate {
            width: 65px;
        }

        select {
            width: 260px !important;
        }
    }
}

#payment-type,
#minimum-payment-type {
    width: 325px;
}

// Had to do this to remove the horz scroll in the tabs
::ng-deep .mat-tab-body-content {
    overflow: hidden !important;
}

.card-body {
    padding-top: 2px;
}

#fixed-payment-container {
    margin-top: 7px;
}

#payment-type-container {
    .p-t-c-label {
        margin-bottom: 10px;
    }
    .form-check {
        margin-bottom: 5px;
    }
    margin-bottom: 5px;
}
#schedule-list-container {
    height: 621px !important;
}
