<div class="container-float">

    <div class="row ">

        <div class="col-12 offset-md-1 col-md-10 offset-lg-0  col-lg-5 col-xl-4 col-xxl-3 mb-5">

            <mat-card style="min-height: 710px;">
                <mat-card-title>Credit Card Information</mat-card-title>

                <mat-card-content data-test-id="credit-card-calculator">
                    <div class="form-wrapper">
                        <form [formGroup]="creditCardFormGroup">

                            <app-form-input name='balance'
                                            [showErrors]=showErrors
                                            [onBlur]="calculateMinimumPayment"
                                            [help]="help.creditCardBalance"></app-form-input>


                            <app-form-input name='interestRate'
                                            [showErrors]=showErrors
                                            [onBlur]="calculateMinimumPayment"
                                            [help]="help.creditCardInterestRate"></app-form-input>


                            <div class="mb-3">
                                <label id="minimum-payment-type-label"
                                       for="minimum-payment-type">How is your minimum payment
                                    calculated? <fa-icon class="label-icon"
                                             [icon]="help.minimumPaymentCalculation.icon"
                                             matTooltipClass="tool-tip-help"
                                             matTooltip="{{help.minimumPaymentCalculation.defintion}}">
                                    </fa-icon>
                                </label>
                                <select style="margin-top:7px;"
                                        id='minimum-payment-type'
                                        formControlName="minimumPaymentType"
                                        class='form-control'>
                                    <option *ngFor='let m of minimumPaymentTypeList'
                                            [ngValue]='m'>{{m.text}}</option>
                                </select>
                                <div class='input-error'>
                                    <!-- Just for space -->
                                </div>
                            </div>

                            <div id="payment-type-container">
                                <label class="p-t-c-label">What Monthly Payment Can You Make?</label>

                                <div class="form-check">
                                    <input class="form-check-input"
                                           formControlName="paymentType"
                                           type="radio"
                                           name="paymentType"
                                           id="payment-type-minimum"
                                           value="1">
                                    <label class="form-check-label"
                                           for="exampleRadios1">
                                        Minimum Payment Only
                                        <fa-icon class="label-icon"
                                                 [icon]="help.creditCardMinimumPayment.icon"
                                                 matTooltipClass="tool-tip-help"
                                                 matTooltip="{{help.creditCardMinimumPayment.defintion}}">
                                        </fa-icon>
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input"
                                           formControlName="paymentType"
                                           type="radio"
                                           name="paymentType"
                                           id="payment-type-extra"
                                           value="2">
                                    <label class="form-check-label"
                                           for="exampleRadios1">
                                        Minimum Payment + Extra Payment
                                        <fa-icon class="label-icon"
                                                 [icon]="help.creditCardMinimumPaymentPlusExtra.icon"
                                                 matTooltipClass="tool-tip-help"
                                                 matTooltip="{{help.creditCardMinimumPaymentPlusExtra.defintion}}">
                                        </fa-icon>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="radio"
                                           formControlName="paymentType"
                                           name="paymentType"
                                           id="payment-type-fixed"
                                           value="3">
                                    <label class="form-check-label"
                                           for="exampleRadios2">
                                        Fixed Payment
                                        <fa-icon class="label-icon"
                                                 [icon]="help.creditCardFixedPayment.icon"
                                                 matTooltipClass="tool-tip-help"
                                                 matTooltip="{{help.creditCardFixedPayment.defintion}}">
                                        </fa-icon>
                                    </label>
                                </div>
                            </div>

                            <div id='payment-input-container'
                                 [style.visibility]="showPaymentInput ? 'hidden':'visible'">
                                <div [ngClass]="{'has-error':(isInvalid(extraPaymentControl))}"
                                     *ngIf="showExtraPayment"
                                     class="form-group">
                                    <input type="text"
                                           autocomplete="off"
                                           formControlName="extraPayment"
                                           maxlength="5"
                                           numeric-input
                                           [min]="1"
                                           [max]="99999"
                                           class="form-control"
                                           id="extra-payment"
                                           aria-describedby="interest-rate-label"
                                           placeholder="Extra Payment"
                                           inputmode="decimal"
                                           (blur)="calculatePayment()">
                                    <div id="extra-payment-error"
                                         class='input-error'>
                                        1 to 99999
                                    </div>
                                </div>

                                <div [ngClass]="{'has-error':(isInvalid(fixedPaymentControl))}"
                                     *ngIf="!showExtraPayment"
                                     class="form-group">
                                    <input type="text"
                                           autocomplete="off"
                                           formControlName="fixedPayment"
                                           maxlength="4"
                                           numeric-input
                                           [min]="1"
                                           [max]="9999"
                                           class="form-control"
                                           id="fixed-payment"
                                           aria-describedby="fixed-payment-label"
                                           placeholder="Fixed Payment"
                                           inputmode="decimal"
                                           (blur)="calculatePayment()">
                                    <div id="fixed-payment-error"
                                         class='input-error'>
                                        {{fixedPaymentError}}
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <div class="form-row">

                                <!-- TODO re-thinkg this margin put it in styles -->
                                <div style="margin-bottom:7px;"
                                     class="col-5">
                                     
                                    <label style="margin-bottom:3px;"
                                           id="minimum-payment-label"
                                           for="minimum-payment">Minimum Payment</label>
                                    <div class="calculated-field"
                                         id="minimum-payment">
                                        ${{minimumPayment |number:'1.2-2' }}</div>
                                </div>

                                <!-- TODO re-thinkg this margin put it in styles -->
                                <div style="margin-bottom:7px;"
                                     class="col-7">
                                    <label style="margin-bottom:3px;"
                                           id="payment-label"
                                           for="payment">Monthly Payment</label>
                                    <div class="calculated-field"
                                         id="payment"
                                         title="Payment = Minimum Payment + Extra Payment">
                                        ${{payment |number:'1.2-2' }}
                                    </div>
                                </div>
                            </div>
                        </form>

                        <button id='calculate'
                                (click)="calculate()"
                                class="calculate-button btn btn-primary"><b>
                                Calculate
                                Results</b>
                        </button>

                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-12 offset-md-1 col-md-10  offset-lg-0  col-lg-7 col-xl-8  col-xxl-9">

            <mat-tab-group>

                <mat-tab label="Result">

                    <div class="row"
                         data-test-id="cc-compare-tab"
                         *ngIf="scheduleCompare">

                        <div class="col-6  col-xxl-4 mb-5">

                            <app-credit-card-schedule *ngIf="!minimumPaymentMode && !isFixedPayment"
                                                      data-test-id="extra-pay-schedule"
                                                      [schedule]="scheduleCompare.schedule2">
                            </app-credit-card-schedule>

                            <app-credit-card-schedule *ngIf="!minimumPaymentMode && isFixedPayment"
                                                      data-test-id="fixed-pay-schedule"
                                                      [schedule]="scheduleCompare.schedule2">
                            </app-credit-card-schedule>

                            <app-credit-card-schedule *ngIf="minimumPaymentMode"
                                                      data-test-id="fixed-pay-schedule"
                                                      [schedule]="scheduleCompare.schedule2">
                            </app-credit-card-schedule>

                        </div>
                        <div class="col-6  col-xxl-4 mb-5">

                            <app-credit-card-schedule data-test-id="min-pay-schedule"
                                                      [schedule]="scheduleCompare.schedule1">
                            </app-credit-card-schedule>

                        </div>

                        <div class="col-12 col-xxl-4">

                            <div class="row">

                                <div class="col-12 col-xl-6 col-xxl-12">
                                    <!-- TODO Find a way to do this with component -->
                                    <app-interest-saved-section data-test-id="interest-saved-by-paying-extra"
                                                                *ngIf="!minimumPaymentMode && !isFixedPayment"
                                                                [scheduleCompare]="scheduleCompare"
                                                                [help]="help.interestSavedByPayingExtra">
                                    </app-interest-saved-section>



                                    <app-interest-saved-section data-test-id="interest-saved-by-paying-fixed"
                                                                *ngIf="isFixedPayment"
                                                                [scheduleCompare]="scheduleCompare"
                                                                [help]="help.interestSavedByPayingFixedPayment">
                                    </app-interest-saved-section>
                                </div>

                                <div class="col-12 col-xl-6 col-xxl-12">
                                    <!-- TODO Find a way to do this with component see above -->
                                    <app-time-saved-section data-test-id="time-saved-extra-payment"
                                                            [scheduleCompare]="scheduleCompare"
                                                            *ngIf="!minimumPaymentMode && !isFixedPayment"
                                                            [help]="help.timeSavedByPayingExtra">
                                    </app-time-saved-section>


                                    <app-time-saved-section data-test-id="time-saved-fixed-payment"
                                                            [scheduleCompare]="scheduleCompare"
                                                            *ngIf="isFixedPayment"
                                                            [help]="help.timeSavedFixedPayment">
                                    </app-time-saved-section>

                                </div>

                                <div class="col-12 col-xl-6 col-xxl-12">
                                    <app-credit-card-devil-section></app-credit-card-devil-section>
                                </div>

                                <div class="col-12 col-xl-6 col-xxl-12">
                                    <app-minimum-payment-trap-section *ngIf="minimumPaymentMode">
                                    </app-minimum-payment-trap-section>
                                </div>

                            </div>
                        </div>
                    </div>
                </mat-tab>

                <!-- <mat-tab label="Summary">
                    <div class="row"
                         data-test-id="cc-summary-tab">

                        <div data-test-id="summary-container"
                             *ngIf="showSummary"
                             id='scroll-to-container'
                             class="col-12 col-md-9 col-lg-6 col-xl-4 col-xxl-4 mb-5">

                            <app-interest-savings [isFixedPayment]="isFixedPayment"
                                                  [minimumPaymentMode]="minimumPaymentMode"
                                                  [scheduleCompare]="scheduleCompare">
                            </app-interest-savings>
                        </div>


                        <div class="col-12 col-md-9 col-lg-12 col-xl-4 col-xxl-4">
                            <app-time-card [scheduleCompare]="scheduleCompare"
                                           [minimumPaymentMode]="minimumPaymentMode">
                            </app-time-card>
                        </div>
                    </div>
                </mat-tab> -->

                <!-- <mat-tab label="Schedule">
                    <div class="row"
                         *ngIf="scheduleCompare">

                        <div class="col-xxl-6">

                            <app-credit-card-schedule-list *ngIf="!minimumPaymentMode"
                                                           [scheduleList]="scheduleCompare.schedule2.scheduleList">
                            </app-credit-card-schedule-list>

                            <app-credit-card-schedule-list *ngIf="minimumPaymentMode"
                                                           [scheduleList]="scheduleCompare.schedule1.scheduleList">
                            </app-credit-card-schedule-list>
                        </div>
                    </div>
                </mat-tab> -->

            </mat-tab-group>

        </div>

    </div>

</div>