<!-- THIS IS FOR MINIMUM PAYMENT ONLY -->
<div data-test-id="minimum-payment-mode"
     *ngIf="showResults && minimumPaymentMode ">

    <div class="col-12 col-xl-6 col-md-12  col-lg-6 col-xl-12">
        <app-stat-section data-test-id="total-principal-interest"
                          [help]="help.creditTotalPrincipalAndInterestMinimumPayment"
                          [sign]="'$'"
                          [stat]="scheduleCompare.schedule1.paymentTotal">
            <div style="text-align:center">
                {{scheduleCompare.schedule1.balanceStart | number:'1.2-2'}} balance +
                {{scheduleCompare.schedule1.interest |
                number:'1.2-2'}} interest
            </div>
        </app-stat-section>
    </div>

    <div class="col-12 col-xl-6 col-md-12  col-lg-6 col-xl-12">
        <app-stat-section data-test-id="minimum-payment-interest"
                          [help]="help.creditCardMinPayInterest"
                          [sign]="'$'"
                          [stat]="scheduleCompare.schedule1.interest">

            <div style="text-align:center"
                 data-test-id="interest-percent-total">

                You Will Pay <b>{{scheduleCompare.schedule1.interestPercentTotal}}%</b> In Interest.
            </div>
        </app-stat-section>
    </div>

</div>

<div *ngIf="showResults && !minimumPaymentMode">

    <div data-test-id="min-pay-plus-exta-pay-mode"
         *ngIf="!isFixedPayment">

        <div class="col-12 col-xl-6 col-md-12  col-lg-6 col-xl-12">
            <app-stat-section data-test-id="total-principal-interest-by-paying-extra"
                              [help]="help.creditTotalPrincipalAndInterestByPayingExtra"
                              [sign]="'$'"
                              [stat]="scheduleCompare.schedule2.paymentTotal">
                <div style="text-align:center">
                    {{scheduleCompare.schedule2.balanceStart | number:'1.2-2'}} balance +
                    {{scheduleCompare.schedule2.interest |
                    number:'1.2-2'}} interest
                </div>
            </app-stat-section>
        </div>

        <div class="col-12 col-xl-6 col-md-12  col-lg-6 col-xl-12">
            <app-stat-section data-test-id="total-principal-interest-min-payment"
                              [help]="help.creditTotalPrincipalAndInterestMinimumPayment"
                              [sign]="'$'"
                              [stat]="scheduleCompare.schedule1.paymentTotal">
                <div style="text-align:center">
                    {{scheduleCompare.schedule1.balanceStart | number:'1.2-2'}} balance +
                    {{scheduleCompare.schedule1.interest |
                    number:'1.2-2'}} interest
                </div>
            </app-stat-section>
        </div>

        <div class="col-12 col-xl-6 col-md-12  col-lg-6 col-xl-12">
            <app-stat-section data-test-id="interest-saved-by-paying-extra"
                              [help]="help.interestSavedByPayingExtra"
                              [sign]="'$'"
                              [stat]="scheduleCompare.interestDifference">
                <div style="text-align: center;">
                    ${{scheduleCompare.schedule1.paymentTotal | number:'1.2-2' }} -
                    ${{scheduleCompare.schedule2.paymentTotal | number:'1.2-2' }}
                </div>

                <div content-2
                     style="margin-top:4px">
                     You Will Save <b>{{scheduleCompare.interestDifferencePercent}}%</b> In Interest.
                </div>
            </app-stat-section>
        </div>
    </div>

    <div data-test-id="fix-pay-mode"
         *ngIf="isFixedPayment">

        <div class="col-12 col-xl-6 col-md-12  col-lg-6 col-xl-12">
            <app-stat-section data-test-id="total-principal-interest-fixed-payment"
                              [help]="help.creditTotalPrincipalAndInterestFixedPayment"
                              [sign]="'$'"
                              [stat]="scheduleCompare.schedule2.paymentTotal">
                <div style="text-align:center">
                    {{scheduleCompare.schedule2.balanceStart | number:'1.2-2'}} balance +
                    {{scheduleCompare.schedule2.interest |
                    number:'1.2-2'}} interest
                </div>
            </app-stat-section>
        </div>

        <div class="col-12 col-xl-6 col-md-12  col-lg-6 col-xl-12">
            <app-stat-section data-test-id="total-principal-interest-min-payment"
                              [help]="help.creditTotalPrincipalAndInterestMinimumPayment"
                              [sign]="'$'"
                              [stat]="scheduleCompare.schedule1.paymentTotal">
                <div style="text-align:center">
                    {{scheduleCompare.schedule1.balanceStart | number:'1.2-2'}} balance +
                    {{scheduleCompare.schedule1.interest |
                    number:'1.2-2'}} interest
                </div>
            </app-stat-section>
        </div>


        <div class="col-12 col-xl-6 col-md-12  col-lg-6 col-xl-12">
            <app-stat-section data-test-id="interest-saved-by-paying-fixed"
                              [help]="help.interestSavedByPayingFixedPayment"
                              [sign]="'$'"
                              [stat]="scheduleCompare.interestDifference">
                <div style="text-align: center;">
                    ${{scheduleCompare.schedule1.paymentTotal | number:'1.2-2' }} -
                    ${{scheduleCompare.schedule2.paymentTotal | number:'1.2-2' }}
                </div>
                <div content-2
                     style="margin-top:4px">
                    You Will Save <b>{{scheduleCompare.interestDifferencePercent}}%</b> In Interest.
                </div>
            </app-stat-section>
        </div>
    </div>
</div>