.chart-container{ 
    height:150px ;    
}

#interest-original,#interest-extra-payment,
#payment-total-original,#payment-total-extra-payments{    
    font-weight: bold;
}

.size-0{
 font-size:1.0 rem;
 font-weight: normal;
}


