::ng-deep {
    #cc-form {
        #balance,
        #extraPayment,
        #fixedPayment {
            width: 125px;
        }

        #interestRate,
        .apr {
            width: 100px;
        }

        select {
            width: 260px !important;
        }
    }

    mat-card-title {
        font-size: 16px !important;
    }

    mat-card {
        margin-bottom: 7px;
    }
}
.cc-wrapper {
    padding: 5px 10px 15px 5px;
    background-color: #e6ffe6;
}

.hint, .input-info {
    margin-top: 10px;
    font-size: small;
}

.input-inline-block {
    display: inline-block;
    margin-right: 10px;
}
