<form id="cc-form"
      [formGroup]="formGroup"
      (submit)="submit()">

    <mat-card>
        <mat-card-title>
            
            <div class="title-responsive" data-test-id="title">
                <fa-icon [icon]="help.creditCardBalance1.icon"
                         class={{help.creditCardBalance1.iconClass}}>
                </fa-icon>
                What Is The Balance On Your Credit Card?
            </div>
            <hr>
        </mat-card-title>

        <mat-card-content class="mt-1">

            <div [ngClass]="{'has-error':(isInvalid(balanceControl))}">
                <input id="balance"
                       data-test-id="balance"
                       type="number"
                       formControlName="balance"
                       [min]="1"
                       [max]="999999"
                       class="form-control"
                       (blur)="blur()">

                <div data-test-id="balance-hint"
                     class="hint">required: 1 to 999999</div>
            </div>

        </mat-card-content>
    </mat-card>

    <ng-container *ngIf="isSubmitted">

        <mat-card id="interest-rate-card"
                  class="mt-4">
            <mat-card-title>
                <div class="title-responsive">
                    <fa-icon [icon]="help.interestRate.icon"
                             class={{help.interestRate.iconClass}}>
                    </fa-icon>
                    What Is Your Interest Rate % (APR)?
                </div>

            </mat-card-title>
            <mat-card-content class="mt-1">
                <div [ngClass]="{'has-error':(isInvalid(interestRateControl))}">
                    <input id="interestRate"
                           class="apr"
                           data-test-id="interest-rate"
                           maxlength="5"
                           [min]="0"
                           [max]="99"
                           type="number"
                           class="form-control"
                           formControlName="interestRate"
                           (blur)="blur()">

                    <div class="hint">
                        required: 1 to 99. Average APR% is {{interestRate}}%
                    </div>
                </div>
            </mat-card-content>
            
            <mat-card-title>
                <hr>
                <div class="title-responsive">
                    <fa-icon [icon]="help.interestRate.icon"
                             class={{help.interestRate.iconClass}}>
                    </fa-icon>
                    What Is Your Introductory Interest Rate % (APR)?
                </div>
            </mat-card-title>

            <mat-card-content class="mt-1">
                <div [ngClass]="{'has-error':(isInvalid(introInterestRate))}">
                    <input id="introInterestRate"
                           data-test-id="intro-interest-rate"
                           maxlength="5"
                           [min]="0"
                           [max]="99"
                           type="number"
                           class="form-control apr"
                           formControlName="introInterestRate"
                           (blur)="blurForceZero(introInterestRate)">
                    <div class="hint">
                        required: 0 to 99.
                    </div>
                </div>
            </mat-card-content>

            <mat-card-title>
                <hr>
                <div class="title-responsive">
                    <fa-icon [icon]="help.interestRate.icon"
                             class={{help.interestRate.iconClass}}>
                    </fa-icon>
                    How Many Months Is Your Intro Rate?
                </div>
            </mat-card-title>

            <mat-card-content class="mt-1">
                <div [ngClass]="{'has-error':(isInvalid(introMonths))}">
                    <input id="introMonths"
                           data-test-id="intro-months"
                           maxlength="2"
                           [min]="0"
                           [max]="36"
                           type="number"
                           class="form-control apr"
                           formControlName="introMonths"
                           (blur)="blur()">
                    <div class="hint">
                        required: 1 to 36.
                    </div>
                </div>
            </mat-card-content>

            <mat-card-title>
                <hr>
                <div class="title-responsive">
                    <fa-icon [icon]="help.interestRate.icon"
                             class={{help.interestRate.iconClass}}>
                    </fa-icon>
                    What Is The % Cost To Transfer
                </div>
            </mat-card-title>

            <mat-card-content class="mt-1">
                <div [ngClass]="{'has-error':(isInvalid(introTransferCostPercent))}">
                    <input id="introTransferCostPercent"
                           data-test-id="intro-transfer-cost-percent"
                           maxlength="5"
                           [min]="0"
                           [max]="99"
                           type="number"
                           class="form-control apr"
                           formControlName="introTransferCostPercent"
                           (blur)="blurForceZero(introTransferCostPercent)">
                    <div class="hint">
                        required: 0 to 99.
                    </div>
                </div>
            </mat-card-content>

        </mat-card>

        <mat-card class="mt-4">
            <mat-card-title>
                <div class="title-responsive">
                    <fa-icon [icon]="help.minPaymentCalculation.icon"
                             class={{help.minPaymentCalculation.iconClass}}>
                    </fa-icon>
                    How Is Your Minimum Payment Calculated?
                </div>

            </mat-card-title>
            <mat-card-content class="mt-1">

                <select data-test-id="minimum-payment-type"
                        id="minimum-payment-type"
                        formControlName="minimumPaymentType"
                        class='form-control '>
                    <option *ngFor='let m of minimumPaymentTypeList'
                            [ngValue]='m'>{{m.text}}</option>
                </select>
            </mat-card-content>
        </mat-card>

        <mat-card class="mt-4">
            <mat-card-title class="form-title">
                <div class="title-responsive" data-test-id="title">
                    <fa-icon [icon]="help.fixedPayment.icon"
                             class={{help.fixedPayment.iconClass}}>
                    </fa-icon>
                    What Fixed Payment Can You Make Monthly?
                </div>
                <hr>
            </mat-card-title>

            <mat-card-content class="mt-4">

                <div [ngClass]="{'has-error':fixedPaymentControl.invalid}">

                    <div style="display: inline-block; margin-right: 10px ;">
                        <input id="fixedPayment"
                               data-test-id="fixed-payment"
                               type="number"
                               formControlName="fixedPayment"
                               [min]="1"
                               [max]="999999"
                               class="form-control"
                               (blur)="blur()">
                    </div>

                    <span data-test-id="fix-pay-is-min"
                          class="hint  "
                          *ngIf="fixedPaymentIsMinPayment && fixedPaymentControl.valid ">Defaulted To First
                        Mininum Payment</span>
                    <span class="hint"
                          *ngIf="fixedPaymentControl.invalid">
                        <a class="click-me"
                           title="Click me to set to first minimum payment"
                           data-test-id="set-fix-payment"
                           (click)="setFixPayment()">Set To First Minimum Payment: {{this.minimumPayment
                            |number:'1.2-2'}}</a>
                    </span>

                    <div data-test-id="fixed-payment-hint"
                         class="hint">required: {{this.minimumPayment |number:'1.2-2'}} or greater</div>
                </div>

            </mat-card-content>
        </mat-card>

        <div id="calc-form-div"
             class="mt-4">
            <app-minimum-payment-calculation [calculation]="minimumPaymentCalculation">
            </app-minimum-payment-calculation>
        </div>
    </ng-container>
</form>