<app-stat-section 
                  data-test-id="interest-saved-section"
                  [help]="help"
                  [sign]="'$'"
                  [stat]="scheduleCompare.interestDifference">
    <div style="text-align: center;">
        ${{scheduleCompare.schedule1.paymentTotal | number:'1.2-2' }} -
        ${{scheduleCompare.schedule2.paymentTotal | number:'1.2-2' }}
    </div>

    <div content-2
         style="margin-top:4px">
        You Will Save <b>{{scheduleCompare.interestDifferencePercent}}%</b> In Interest.
    </div>
</app-stat-section>