@import "./styles/variables";
@import "./styles/chart.styles.scss";
@import "./styles/form.styles.scss";
@import "./styles/title-paragraph.styles.scss";
@import "./styles/old.styles.scss";
@import "./styles/calculator.styles.scss";
@import "./styles/icon.styles.scss";
@import "./styles/icon.styles.scss";
@import "./styles/table.styles.scss";
@import "./styles/section.styles.scss";
@import "./styles/element-responsive.styles.scss";
@import "./styles/material-override.styles.scss";

a.no-style {
    text-decoration: underline;
    color: black;
    // font-weight: 500;
}

p {
    // text-align: justify;
    font-size: larger;
    line-height: 1.6rem;
}

p.large {
    // text-align: justify;
    font-size: large;
    line-height: 1.6rem;
}


.position-1 {
    border: 1px dotted red;
}

.position-3 {
    border: 1px dotted blue;
}

//TODO should this be here
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
mat-tab-header {
    margin-bottom: 15px;
}

.gross-profit-percent-section {
    fa-icon {
        color: green;
    }
}
.break-even-units-section {
    fa-icon {
        color: blue;
    }
}

.tool-tip-help {
    font-size: large;
}

.section-wrapper {
    border: 1px solid #cccccc;
    padding: 15px;
}
.form-wrapper {
    border: 1px solid #cccccc;    
    padding: 10px 20px 15px 20px;
    background-color: #e6ecff;
    
}

.calculator-wrapper {
    background-color: #e6ecff;
    border: 1px solid #cccccc;
    padding: 15px 25px 25px 15px;
}

.input-error {
    visibility: hidden;
    color: red;
}

.hint {
    color: black;
    font-style: oblique;    
    margin-top: 3px;
}

.has-error {
    input {
        background-color: #ffe6e6;
        border: 1px solid red;
    }
    .input-error {
        visibility: visible;
    }

    .hint {
        color: red;
    }
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
