@import "./styles/variables";
@import "./styles/chart.styles.scss";
@import "./styles/form.styles.scss";

.stat-formula {

    fa-icon{
        font-size: x-large;
    }

    hr {
        margin-bottom: 2px;
    }
    .title {
        font-size: medium;
        font-weight: 500;
        fa-icon {
            margin-right: 5px;
        }
    }
    .stat {
        font-size: xx-large;
        font-weight: bold;
        text-align: center;
        font-weight: 450;
    }

    .formula {
        margin-bottom: 4px;
        text-align: center;
        font-weight: 300;
    }
}

.tool-tip-help {
    font-size: large;
}

table {
    .total {
        font-size: larger;
        font-weight: 700;
    }
    .total-xl {
        font-size: x-large;
        font-weight: 800;
    }

    .sub-total {
        font-size: large;
        font-weight: 600;
    }

    tr.border-1 {
        border-bottom: 1px solid #cccccc;
    }

    tr.border-2 {
        border-bottom: 2px solid black;
    }

    td.indent {
        padding-left: 15px;
    }
}

.section-wrapper {
    border: 1px solid #cccccc;
    padding: 15px;
}
.form-wrapper {
    border: 1px solid #cccccc;
    padding: 15px 25px 25px 15px;
    background-color: #e6ecff;
}

.calculator-wrapper {
    background-color: #e6ecff;
    border: 1px solid #cccccc;
    padding: 15px 25px 25px 15px;
}

.input-error {
    visibility: hidden;
    color: red;
}

.hint {
    color: black;
    font-style: oblique;
    margin-top: 3px;
}

.has-error {
    input {
        background-color: #ffe6e6;
        border: 1px solid red;
    }
    .input-error {
        visibility: visible;
    }

    .hint {
        color: red;
    }
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
