<br><br><br>
<div class="container">

    <div class="row">

        <div class="col-6">

            <br>
            <br>            

            <mat-card>
                <mat-card-title>Welcome To Profit Dreamer Profit Analysis Module</mat-card-title>


                <fa-icon [icon]="icons.wartsAndAllIcon" size="6x"></fa-icon>

                <mat-card-content>
                    <h2> Future Content Will Go Here. This is the home page</h2>
                </mat-card-content>

            </mat-card>

        </div>

    </div>

</div>